<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
     <script src="papaparse.js"></script>
    <title>Data</title>
</head>

<body>
<section id="data-output"></section>

<script type="text/javascript">

    var file = "post-data.csv";

    Papa.parse(file, {
      ////makes sure the first line is interpreted as a header, not data
      header: true,
      //allows stuff to be typed as their respective primitive types instead of only strings. turned off in this case
      dynamicTyping: true,
      //allows you to define the delimiter if not a default comma
      delimiter: "|",

      //allows you to define a comment line, which would be skipped by the parser
      comments: "//",

      //turns on fastmode, quicker but assumes no quoted fields is present
      fastmode: true,

      download: true,

        step: function (results) {
            var data = results.data;
            // $("#data-output").append("<div class='parse'>" + data("date") + "</div>");
            $.each(results.data[0], function(i) {
                $("#data-output").append($("<tr/>").text(data[0][i]));
            });
            // console.log(results);
            console.log(data[0])
        }
    });

</script>


</body>
</html>
